/* header */
header {
  width: 1440px;
  background: #2a9d8f;
  margin: 0 auto;
  padding: 38px 130px;
}
.header_logo {
  width: 46px;
  height: 46px;
  padding: 10px 12.614px 10px 13px;
  justify-content: center;
  align-items: center;
  border-radius: 46px;
  background: #fff;
  vertical-align: middle;
  margin-right: 861px;
}
.header_nav {
  display: inline-block;
}
.header_li {
  display: inline-block;
}
.header_a {
  color: #fff;
  font-family: "Nerko One", cursive;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 0.1px;
}
.middle_text {
  margin-inline: 51px;
}
